* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  display: flex;
  background-color: rgb(65, 65, 65);
  height: 100vh;
}
img {
  height: auto;
  width: 100%;
}
.Container-Appetizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
img {
  height: auto;
  width: 100%;
}

@media (min-width: 144em) {
  img {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 31em) {
  img {
    height: auto;
    width: 100%;
  }
}
