* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background-color: rgb(65, 65, 65);
  width: auto;
  height: 100vh;
}
img {
  height: 100vh;
  width: auto;
}
.Container-Appetizer {
}
img {
  height: 100vh;
}

@media (min-width: 144em) {
  img {
    height: 100vh;
  }
}

@media (max-width: 31em) {
  img {
    height: 100vh;
    width: 100%;
  }
}
